postgres_url = "postgres://<user>:<password>@localhost:5432/<dbname>?sslmode=disable"
symmetric_key = "<your-32-character-secret-key>"

[user_service_endpoint]
host = "localhost"
port = 3030

[gateway_service_endpoint]
host = "localhost"
port = 3031

[admin]
username = "admin"
password = "<admin-password>"
email = "admin@gmail.com"
